@import url(https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:300,400,500,900|Quicksand:300,400,600&display=swap);
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

@import url(components/container.css);
@import url(components/card.css);
@import url(components/btn-green.css);
@import url(components/banner.css);



body {
	font-family: "Frank Ruhl Libre";
	font-size: 14px;
}

h1, h2, h3 {
	font-family: "Quicksand";
	font-weight: 600;
}

a {
	text-decoration: none;
	font-family: "Quicksand";
}